<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Codenames</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- dependencies for frontend -->
	<script type="text/javascript" src="libs/jquery-3.3.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!-- client side code -->
	<script type="text/javascript" src="js/game.js"></script>
</head>
<body>
	<h1 id="title">Codenames</h1>
	<!-- LEFT CONTENT -->
	<div class="left-content">
		<div class="clearfix">
			<button id="disconnect">Disconnect</button>
		</div>
		<h2>Timer</h2>
		<div id="timer">
		</div>
		<h2>Players</h2>
		<div id="players-list">
			<ul id="players">
				<!-- TODO jleong: use js -->
			<!-- -	for (var p = 0; p < players.length; p++) -->
				<li class="player">
					<span class="name">temp player name</span>
					<input class="ready-check" type="checkbox">
				</li>
			</ul>
		</div>
	</div>
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<!-- WORD BOARD -->
		<div id="word-board">
			<div class="word-btn-row clearfix"> 
				<!-- TODO @jleong: remove? and create/fill buttons with pub -->
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
			</div>
			<div class="word-btn-row clearfix"> 
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
			</div>
			<div class="word-btn-row clearfix"> 
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
			</div>
			<div class="word-btn-row clearfix"> 
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
			</div>
			<div class="word-btn-row clearfix"> 
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
				<input class="word" type="button" value>
			</div>
		</div>	
		<!-- CHAT -->
		<div id="chat">
			<div id="chat-history">
				<ul id="messages">
					<!-- messages to be inserted -->
				</ul>
			</div>
			<div id="chat-input">
				<form id="user-input-form" name="user-input-form">
					<input id="user-input" name="user-input" type="text" autocomplete="off" required placeholder="Write a message...">
					<!-- <input type="button" value="Send"> -->
					<button id="send">Send</button>
				</form>
			</div>
		</div>
	</div>
	<!-- RIGHT CONTENT -->
	<div id="dictionary" class="right-content">
		<h2>Dictionary</h2>
		<div id="search-wrapper">
			<form id="search-form" name="search-form">
				<input id="search-input" name="search-input" type="text" placeholder="Search words" required>
			</form>
		</div>
		<div id="search-results">
		</div>
	</div>
</body>
</html>