<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Codenames</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- dependencies for frontend -->
	<script type="text/javascript" src="libs/jquery-3.3.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!-- client side code -->
	<script type="text/javascript" src="js/game.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="title">Codenames</h1>
	</div>
	<!-- LEFT CONTENT -->
	<div class="left-content">
		<div class="clearfix">
			<button id="disconnect">Disconnect</button>
			<button id="rules" onclick="alert(getGameRules())">Game Rules</button>
		</div>
		<h2 id="time">Time</h2>
		<h2>Points</h2>
		<div id="points-list">
				<ul id="points">
					<li>Red: </li>
					<li>Blue:</li>
				</ul>
		</div>
		<h2>Players</h2>
		<div id="players-list">
			<form id="player-ready-form" name="player-ready-form">
			</form>
			<ul id="players">	<!-- other players -->
			</ul>
		</div>
		<h2>Votes</h2>
		<div id="votes-list">
				<ul id="votes">
				</ul>
		</div>
	</div>
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<!-- WORD BOARD -->
		<div id="word-board">
			<div class="word-btn-row clearfix">
				<!-- TODO @jleong: remove? and create/fill buttons with pub -->
				<input class="word word-0" type="button" value="TESTING">
				<input class="word word-1" type="button" value="PRAYING">
				<input class="word word-2" type="button" value="PLEASE">
				<input class="word word-3" type="button" value>
				<input class="word word-4" type="button" value>
			</div>
			<div class="word-btn-row clearfix">
				<input class="word word-5" type="button" value>
				<input class="word word-6" type="button" value>
				<input class="word word-7" type="button" value>
				<input class="word word-8" type="button" value>
				<input class="word word-9" type="button" value>
			</div>
			<div class="word-btn-row clearfix">
				<input class="word word-10" type="button" value>
				<input class="word word-11" type="button" value>
				<input class="word word-12" type="button" value>
				<input class="word word-13" type="button" value>
				<input class="word word-14" type="button" value>
			</div>
			<div class="word-btn-row clearfix">
				<input class="word word-15" type="button" value>
				<input class="word word-16" type="button" value>
				<input class="word word-17" type="button" value>
				<input class="word word-18" type="button" value>
				<input class="word word-19" type="button" value>
			</div>
			<div class="word-btn-row clearfix">
				<input class="word word-20" type="button" value>
				<input class="word word-21" type="button" value>
				<input class="word word-22" type="button" value>
				<input class="word word-23" type="button" value>
				<input class="word word-24" type="button" value>
			</div>
		</div>
		<!-- CHAT -->
		<div id="chat">
			<div id="chat-history">
				<ul id="messages">
					<!-- messages to be inserted -->
				</ul>
			</div>
			<div id="chat-input">
				<form id="user-input-form" name="user-input-form">
					<input id="user-input" name="user-input" type="text" autocomplete="off" required placeholder="Write a message...">
					<!-- <input type="button" value="Send"> -->
					<button id="send">Send</button>
				</form>
			</div>
		</div>
	</div>
	<!-- RIGHT CONTENT -->
	<div id="dictionary" class="right-content">
		<h2>Dictionary</h2>
		<div id="search-wrapper">
			<form id="search-form" name="search-form">
				<input id="search-input" name="search-input" type="text" placeholder="Search words" required>
			</form>
		</div>
		<div id="search-results">
		</div>
	</div>
</body>
</html>