/* TEST CSS */
.optional {
	background: red;
	height: 100px;
}

#time {
	text-align: center;
	margin: 0;
	padding: 1vh;
}

/* PAGE */
html {
	height: 100%;
	background: azure;
}

body {
	/*margin: 0px 8px 0px 0px;*/
	font: 2vh Helvetica, Arial;
	height: 100%;	/* locks app to single page */
	margin: 0px;
	max-width: 100%;
    overflow: hidden;

}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* HEADINGS */
#title {
	color: darkgreen;
	text-align: center;
	font-size: 6vh;
	margin: 0;
	padding-top: 0.3em;
}

h2 {
	text-align: center;
	margin: 0;
	padding: 1vh;
}

/* BUTTONS (input[button]) */ 
input[type=button],
button {
	background-color: #4CAF50;
	border: 0px; /* remove border */
    outline: 1px solid green !important; /* use outline for offset */
    outline-offset: -1px;
    color: white;
    padding: 3% 8%;
    cursor: pointer;
    outline: none;
}

input[type=button]:hover,
button:hover {
    background-color: #3e8e41;
}

input[type=button]:active,
button:active {
    background-color: green;
}

/* SECTIONS */
#header {
	height: 10%;
}

.left-content,
.main-content, 
.right-content {
	float: left;
	height: 90%;
}

.left-content {
	width: 25%;
}

.right-content {
	width: 25%;
	float: right;
}

.main-content {
	width: 50%;
	overflow-x: visible;
}

/* PLAYERS */
#players {
	border: 1px solid pink;
}

input.ready-check {
	margin: 0;
	padding: 0;
	float: right;
	margin-right: 10%;
	margin-top: 0.2vh;
}

/* WORD BOARD (and buttons/inputs) */
#word-board {
	height: 45%;
}

#word-board input[type=button] {
    padding: 0;
    width: 20%;
    height: 100%;
    float: left; /* floats buttons next to each other */
}

.word-btn-row {
	height: 20%;
}

.word-btn-row input:not(:last-child) {
    border-right: none;
}

/* CHAT */
#chat {
	height: 55%;
}

#chat-history {
	max-height: 90%;
	overflow-y: scroll;
}

#chat-input {
	height: 10%;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li {	/* message */
	padding: 5px 10px; 
}

#messages li:nth-child(odd) {
	background: lightgrey; 
}

#messages li.system {	/* system messages */
	font-style: italic;
	color: purple;
}

#messages li.error {	/* client only messages */
	font-style: italic;
	color: red;
}

#user-input-form {
	/*background: black;*/
	width: 100%;
}

#user-input {
	width: 77%;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

button#send {
	padding-top: 1.3vh;
	padding-bottom: 1.3vh;
	width: 20%;
	float: right;
}

/* DICTIONARY */
#search-input {
	width: 100%;
}

/* ELEMENT OVERRIDES */
button#disconnect {
	width: 100%;
	background: darkred;
}

button#disconnect:hover {
	background: red;
}

button#rules {
	width: 100%;
	background: blue;
}

button#rules:hover {
	background: lightblue;
	color: black;
}

button#disconnect:active,
button#rules:active {
	background: black;
	color: white;
}

/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }*/
/*form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }*/
/*form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/






