/* TEST CSS */
.optional {
	background: red;
	height: 100px;
}

#time {
	text-align: center;
	margin: 0;
	padding: 1vh;
}

/* PAGE */
html {
	height: 100%;
	background-image: url("/img/woodbackground.jpg");
}

body {
	/*margin: 0px 8px 0px 0px;*/
	font: 2vh 'Roboto', Helvetica, Arial;
	color: wheat;
	height: 100%;	/* locks app to single page */
	margin: 0px;
	max-width: 100%;
    overflow: hidden;

}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* HEADINGS */
#title {
	color: azure;
	text-align: center;
	font-size: 6vh;
	margin: 0;
	padding-top: 0.3em;
}

h2 {
	text-align: center;
	margin: 0;
	padding: 1vh;
	/*color: azure;*/
}

h1, h2, h3 {
	color: azure;
}

/* BUTTONS (input[button]) */
input[type=button],
button {
	background-color: #4CAF50;
	border: 0px; /* remove border */
    outline: 1px solid black !important; /* use outline for offset */
    outline-offset: -1px;
    color: white;
    padding: 3% 8%;
    cursor: pointer;
    outline: none;
}

input[type=button]:hover,
button:hover {
    background-color: #3e8e41;
}

input[type=button]:active,
button:active {
    background-color: green;
}

/* SECTIONS */
#header {
	height: 10%;
}

.left-content,
.main-content,
.right-content {
	float: left;
	height: 90%;
}

.left-content {
	width: 25%;
}

.right-content {
	width: 25%;
	float: right;
}

.main-content {
	width: 50%;
	overflow-x: visible;
}

/* POINTS */
#points {
	/*list-style-type: none;*/
}

#points li {
	padding-left: 80%;
	margin-left: -80%;
}

/* PLAYERS */
h3.players-subheading {
	padding-left: 10%;
}

.player-row {
	padding-left: 5%;
}

#player-me .name {
	padding-left: 2.1vw;
}

.role {
	font-style: italic;
}

label[for=ready-check] {
	margin: 0;
	padding: 0;
	float: right;
	margin-right: 3%;
}

#players-list input[type=checkbox] {
	margin: 0;
	padding: 0;
	float: right;
	margin-right: 3%;
	margin-top: 0.1vh;
}

#players {
	list-style-type: none;
}

#players li {
	padding-left: 80%;
	margin-left: -80%;
	border-bottom: 1px solid beige;
}

/* VOTES */
#votes {
	/*list-style-type: none;*/
}

#votes li {
	padding-left: 80%;
	margin-left: -80%;
}

/* WORD BOARD (and buttons/inputs) */
#word-board {
	height: 45%;
}

#word-board input[type=button] {
    padding: 0;
    width: 20%;
    height: 100%;
    float: left; /* floats buttons next to each other */
}

.word-btn-row {
	height: 20%;
}

.word-btn-row input:not(:last-child) {
    border-right: none;
}

.word[color=team-0-0] {
	background: linear-gradient(#E5AF6F, tan);
}

.word[color=team-1-0] {
	background: linear-gradient(#E12828, darkred);
}

.word[color=team-2-0] {
	background: linear-gradient(#5696FF, darkblue);
}

.word[color=team-3-0] {
	background: linear-gradient(darkgrey, black);
}

.word[color=team-0-0]:hover {
	background: linear-gradient(#E5AF6F, #E5AF6F);
}

.word[color=team-1-0]:hover {
	background: linear-gradient(#E12828, #E12828);
}

.word[color=team-2-0]:hover {
	background: linear-gradient(#5696FF, #5696FF);
}

.word[color=team-3-0]:hover {
	background: linear-gradient(darkgrey, darkgrey);
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_fade*/
.word[color=team-0-1],
.word[color=team-0-0]:active {
	background: linear-gradient(tan, tan) !important;
}

.word[color=team-1-1],
.word[color=team-1-0]:active {
	background: linear-gradient(darkred, darkred) !important;
}

.word[color=team-2-1],
.word[color=team-2-0]:active {
	background: linear-gradient(darkblue, darkblue) !important;
}

.word[color=team-3-1],
.word[color=team-3-0]:active {
	background: linear-gradient(black, black) !important;
}

/* CHAT */
#chat {
	height: 55%;
}

#chat-history {
	max-height: 90%;
	overflow-y: scroll;
}

#chat-input {
	height: 10%;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 44vh;
}

#messages li {	/* message */
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: dimgrey;
}

#messages li.system {	/* system messages */
	font-style: italic;
	color: limegreen;
}

#messages li.error {	/* client only messages */
	font-style: italic;
	color: red;
}

#user-input-form {
	/*background: black;*/
	width: 100%;
}

#user-input {
	width: 77%;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

button#send {
	padding-top: 1.3vh;
	padding-bottom: 1.3vh;
	width: 20%;
	float: right;
}

/* DICTIONARY */
#search-input {
	width: 100%;
}

/* ELEMENT OVERRIDES */
/*button#disconnect {
	width: 100%;
	background: darkred;
}

button#disconnect:hover {
	background: red;
}*/

button#rules {
	width: 100%;
	/*background: blue;*/
}

/*button#rules:hover {
	background: lightblue;
	color: black;
}*/

button#disconnect:active,
button#rules:active {
	background: black;
	color: white;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

