/* TEST CSS */
.optional {
	background: red;
	height: 100px;
}

#timer {
	width: 20%;
	border: 1px solid blue;
}

#chat {
	border: 1px solid yellow;
}

/* PAGE */
body {
	/*margin: 0px 8px 0px 0px;*/
	font: 13px Helvetica, Arial;
	margin: 0px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* HEADINGS */
#title {
	color: darkgreen;
	font-size: 300%; 
	text-align: center;
}

h2 {
	text-align: center;
}

/* BUTTONS (input[button]) */ 
input[type=button],
button {
	background-color: #4CAF50;
	border: 0px; /* remove border */
    outline: 1px solid green !important; /* use outline for offset */
    outline-offset: -1px;
    color: white;
    padding: 3% 8%;
    cursor: pointer;
    outline: none;
}

input[type=button]:hover,
button:hover {
    background-color: #3e8e41;
}

input[type=button]:active,
button:active {
    background-color: green;
}

/* SECTIONS */
.left-content,
.main-content, 
.right-content {
	float: left;
}

.left-content {
	width: 25%;
}

.right-content {
	width: 25%;
	float: right;
}

.main-content {
	width: 50%;
	overflow-x: visible;

}

/* PLAYERS */
#players {
	border: 1px solid pink;
}

input.ready-check {
	float: right;
	margin-right: 10%;
}

/* WORD BOARD (and buttons/inputs) */
#word-board input[type=button] {
    padding: 4% 10%;
    float: left; /* floats buttons next to each other */
}

.word-btn-row input:not(:last-child) {
    border-right: none;
}

/* CHAT */
#chat-history {
	height: 100px;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	/* change to percent */
	padding: 5px 10px; 
}
#messages li:nth-child(odd) {
	background: #eee; 
}

#user-input {
	width: 82%;
}

button#send {
	padding: 1% 6%;
}

/* DICTIONARY */
#search-input {
	width: 100%;
}

/* ELEMENT OVERRIDES */
button#disconnect {
	width: 100%;
	background: darkred;
}

button#disconnect:hover {
	background: red;
}


button#disconnect:active {
	background: black;
}


/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }*/
/*form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }*/
/*form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/






